<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index
    </title>
    <!--Put in nav bar-->
    <link href='bootstrap.css' rel='stylesheet'>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <!--Nav bar to go here-->
    <div class="container">
        <!--search bar to go here -->
        <div class="row">
            <div class="col-md-4 col-sm-4 search-form">
                <input id="txtSearch" type="text" class="input-control" placeholder="Search" >
                <button id="btnSearch" class="btn btn-primary">Search</button>
            </div>
        </div>

        <!-- catalog container-->
        <div class="container">
        <div class="row">
            <!--Catalog-->
            <div id="item-list" class="col-md-12">


            <!--cat list-->
            <div class="col-md-12">
                <ul id="cat-list" class="list-group">

                    

                    
                </ul>

            </div>
        </div>

    </div>
</div>


<script src="jquery-3.3.1.min.js"></script>
<!--<script src="ManualDB.js"></script>-->
<script src="script2.js"></script>
</body>

</html>



